
/* 
@font-face{
    font-family:"reforma";
    src:url(../fonts/Reforma\ Grotesk\ Medium.otf);
    src:url(../fonts/Reforma.ttf);
    
} */


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
 
::after, ::before {
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}
   
ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* background: #f8fafc; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1d1d1b;
}
/* basic css end */

/* common css start */
h1 {
  font-size: 24px;
  color: #222;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-size: 14px;
  color: #748f9e;
}

.my-btn {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  background: #10a2ef;
  padding: 10px 60px;
  text-align: center;
  margin-bottom: 80px; 
}

/*// end of common css */

/* main css start */

/* ===== header part start ======= */
.header nav {
  border-bottom: 4px solid #f8e72c;
}
 
.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: rgba(0, 0, 0, .7);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}


.moving-text span {
  white-space: nowrap;
  font-weight: 600;
  border-right: 4px solid #f8e72c;
  padding-right: 10px;
}

/* =====//end of header part ======= */


/* =====  main content start ======= */
/*=== left-side-bar start ===*/
.left-side-bar {
  background: #f8e72c;
  padding: 60px 0;
  height: 100%;
  display: grid;
  place-items: center;
}

.left-side-bar span {
  display: block;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  /* letter-spacing: -10px; */
  line-height: 60px;
  transform: rotate(-90deg);
}
/*===//end of left-side-bar  ===*/

/*=== middle-content start === */
.middle-content .heading {
  border-right: 4px solid #f8e72c;
  padding-right: 10px;
}

.middle-content li {
  padding: 5px 0;
  border-bottom: 1px solid #f8e72c;
  width: 100%;
}

.middle-content .txt {
  font-size: 16px;
  padding-right: 10px;
  margin-left: auto;
  white-space: nowrap;
}

.middle-content .img {
  margin-top: -5px;
}
/*===//end of middle-content  === */

/*=== right-side-bar start ===*/
.right-side-bar {
  background: #f8e72c;
  padding: 60px 0;
  height: 100%;
  display: grid;
  place-items: center;
}
.right-side-bar span {
  display: block;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  /* letter-spacing: -10px; */
  line-height: 60px;
  transform: rotate(90deg);
}
/*===//end of rught-side-bar ===*/

/* =====//end of  main content ======= */

/* ===== footer part start ======= */
.footer {
  background: #b3b3b3;
  min-height: 190px;
  display: grid;
  place-items: center;
}

/* =====//end of footer part ======= */

/* ======= Responsive start ======= */
/* Small devices (landscape phones upto 767px) */
@media (max-width: 767px) {
  .left-side-bar img {
    transform: rotate(-90deg);
  }
  .left-side-bar {
    height: auto;
    padding: 0 30px
  }
  .right-side-bar img {
    transform: rotate(-90deg);
  }
  .right-side-bar {
    height: auto;
    padding: 0 30px;
  }

  .middle-content .txt {
    font-size: 14px;
  }
}


@media (max-width: 991px) {

  .navbar-light .navbar-nav .nav-link {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}

/* =======//end of Responsive ======= */

/* color: #f8e72c; */